.token {
    height: 100%;
    // background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    .token__space {
        height: 65%;
        width: 65%;
        border-radius: 100%;
        background-color: white;

        &.--is-mine {
            background-color: #333;
        }
    }
}